.container_fluid {
    width: 100%;
    height: 70px;
    background-color: #0282F9;
    img {
        border: 1px solid white;
        position: absolute;
        top: -240px;;
        left: 0;
    }
    
}
.container-product {
    width: 60%;
    margin: 0 auto;
    position: relative;
    h2 {
        text-transform: uppercase;
    }
}
.sx {
    width: 70%; 
    margin: 4em;
    .price,
    .availability {
        background-color: rgb(80, 201, 80);
        padding: 1em;    
        color: white;
        border: 1px solid grey;
        span {
            justify-self: center;

        }
    }
    .green-section {
        margin: 1em 0;
    }
    .description {
        line-height: 25px;
        color: gray;
    }
}
.dx {
    width: 30%;
    margin: 4em 0;
    h4 {
        text-align: end;
        text-transform: uppercase;
    }
}
.info {
    background-color: #F6F6F6;
    padding: 3em;
    .col-50 {
        padding: 2em;
        .row {
            margin: 2em 0;
            border-top: 1px solid lightgrey;
            padding: 1em;
            .col-30 {
                width: 30%;
            }
            .col {
                width: 60%;
                a {
                    text-decoration: none;
                }
                h4 {
                    text-transform: uppercase;
                }
            }
        }
    }
}
