* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.flex-end {
  justify-content: end;
}

.w-100 {
  width: 100%;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.flex-end {
  justify-content: flex-end;
}

.col-50 {
  width: 50%;
}

.container-main {
  background-color: #1C1C1C;
  position: relative;
}
.container-main .title-absolute {
  background-color: #0282F9;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  color: white;
  position: absolute;
  left: 200px;
  top: -25px;
}
.container-main .product-list {
  display: flex;
  width: 100%;
  padding: 2em;
  flex-wrap: wrap;
}
.container-main .product-list a {
  text-decoration: none;
}
.container-main .button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}
.container-main .button button {
  text-transform: uppercase;
  padding: 1em 3em;
  font-weight: bold;
  color: white;
  background-color: #0282F9;
  border: none;
  cursor: pointer;
}

li {
  list-style-type: none;
  flex-basis: calc(16.6666666667% - 0.4em);
  margin: 1em 0;
}
li .container-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
li .container-img img {
  width: 100%;
}
li h4 {
  color: white;
  margin: 1em 0;
  text-transform: uppercase;
  display: block;
}

.header-top {
  background-color: #0282F9;
}
.header-top a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
  margin: 3px 20px;
  cursor: pointer;
}

.container_header {
  height: 112px;
  display: flex;
  padding: 0;
}
.container_header .header-sx {
  width: 30%;
}
.container_header .header-dx {
  width: 70%;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}
.container_header .header-dx .blue_arrow-shop {
  color: #0282F9;
  margin-left: 10px;
}
.container_header .header-dx input {
  height: 15px;
  outline: none;
  border: none;
  border-bottom: 2px solid #0282F9;
  text-align: right;
  font-weight: bold;
  color: black;
  padding: 1em;
  margin-left: 1em;
}

.ul-header {
  display: flex;
  height: 100%;
}
.ul-header .li-header {
  height: 86%;
  align-items: center;
  display: flex;
  list-style-type: none;
  text-align: center;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}
.ul-header .li-header:hover {
  border-bottom: 4px solid #0282F9;
}
.ul-header .li-header a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  margin: 1em;
  display: flex;
}
.ul-header .li-header.active {
  color: #0282F9;
  border-bottom: 3px solid #0282F9;
}

.jumbo {
  background-image: url("../images/jumbotron.jpg");
  height: 400px;
}

.container-top {
  padding: 3em 0;
  background-color: #0282F9;
}
.container-top .footer-top {
  width: 80%;
  margin: 0 auto;
}
.container-top .footer-top ul {
  display: flex;
  justify-content: space-between;
}
.container-top .footer-top ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.container-top .footer-top ul li img {
  width: 3em;
  margin: 0 1em;
}
.container-top .footer-top ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.footer-center {
  background-image: url(../images/footer-bg.jpg);
  position: relative;
}
.footer-center .back-logo {
  background-image: url(../images/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 50%;
}
.footer-center .back-logo .footer-center-sx {
  width: 80%;
  height: 100%;
  padding: 2em 0;
  display: flex;
}
.footer-center .back-logo .footer-center-sx ul {
  margin: 1em;
  display: block;
  height: none;
}
.footer-center .back-logo .footer-center-sx ul li {
  list-style-type: none;
  margin-bottom: 3px;
}
.footer-center .back-logo .footer-center-sx ul li a {
  text-decoration: none;
  color: #7C7C7C;
}
.footer-center .back-logo .footer-center-sx ul .head-li {
  text-transform: uppercase;
  font-weight: bold;
  margin: 1em 0;
  color: white;
}

.footer-bottom {
  background-color: #303030;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.footer-bottom .d-flex {
  display: flex;
}
.footer-bottom .d-flex .footer-bottom-sx {
  width: 50%;
}
.footer-bottom .d-flex .footer-bottom-sx button {
  text-transform: uppercase;
  border: 1px solid #0282F9;
  background-color: #303030;
  font-weight: bold;
  color: white;
  padding: 1em;
  cursor: pointer;
}
.footer-bottom .d-flex .footer-bottom-dx {
  display: flex;
  width: 50%;
  justify-content: end;
}
.footer-bottom .d-flex .footer-bottom-dx h2 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #0282F9;
  padding: 0 1em;
}
.footer-bottom .d-flex .footer-bottom-dx ul {
  display: flex;
}
.footer-bottom .d-flex .footer-bottom-dx ul li {
  list-style-type: none;
  padding: 0.5em;
}