.header-top {
    background-color: $blueDcomics;
    a {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
        text-decoration: none;
        margin: 3px 20px;
        cursor: pointer;
    }
}
.container_header {
    height: 112px;
    display: flex;
    padding: 0;
        .header-sx {
            width: 30%;
        }
        .header-dx {
            width: 70%;
            align-items: center;
            justify-content: flex-end;
            display: flex;
                .blue_arrow-shop {
                color: $blueDcomics;
                margin-left: 10px;
                }
            input {
                height: 15px;
                outline: none;
                border: none;
                border-bottom: 2px solid $blueDcomics;
                text-align:right;
                font-weight: bold;
                color: black;
                padding: 1em;
                margin-left: 1em;
            }
        }
    }
    .ul-header {
        display: flex;
        height: 100%;
        .li-header {
            height: 86%;
            align-items: center;
            display: flex;
            list-style-type: none;
            text-align: center;
            border-bottom: 4px solid rgba(0, 0, 0, 0);
            &:hover {
                border-bottom: 4px solid $blueDcomics;
            }
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                color: black;
                margin: 1em;
                display: flex;
            }
            &.active {
                color: $blueDcomics;
                border-bottom: 3px solid $blueDcomics;
            }
        }
    }
    .jumbo {
    background-image: url('../images/jumbotron.jpg');
    height: 400px;
}